.carousel-item{
    .imgslider{
        height: 675px !important;
        min-height: 500px !important;
    }
    
}

.header-container {
    background-color: #021B56;
    color: #fff;

    p {
        margin-top: 15px;
    }
}

.profile{
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.location {
    .live {
        color: red;
    }
    .right{
        background-color: #021B56;
        color: #fff;
        border-radius: 0px 15px 15px 0px;
    }
}

.wrapper{
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    .card{
        margin-right: 5px;
        min-width: 300px;
    }
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.det{
    text-align: right;
    padding-right: 30px;
}

.latestPro{
    background-image: url('../../assets/projects/TOCSIN.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
    .latest{
        width: 80%;
        height: 80%;
    }
}
